@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.75rem;
  }
 
  .dark {
    --background: 210 14% 9%; /* Cor #13161a */
    --foreground: 210 20% 98%;
    
    --panel: 210 11% 12%; 
    --card: 210 9% 15%;
    --card-foreground: 210 20% 98%;
    
    --popover: 210 14% 9%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 210 14% 9%;

    --secondary: 215 28% 17%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 28% 17%;
    --muted-foreground: 215 20% 65%;

    --accent: 215 28% 17%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 14% 22%;
    --input: 215 14% 22%;
    --ring: 210 20% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  background-color: hsl(var(--background));
  background-image: radial-gradient(
      circle at 10% 10%,
      hsl(var(--panel) / 0.1) 0,
      transparent 35%
    ),
    radial-gradient(
      circle at 90% 20%,
      hsl(var(--panel) / 0.1) 0,
      transparent 45%
    );
}
